body{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

.links a{
  padding: 0.5rem 1rem;
  transition: all .4s;
  /* border-left: 2px solid transparent;  */
}
.links a:hover{
  /* border-left: 2px solid hsla(39, 47%, 59%, 1);  */
  color: hsla(39, 47%, 59%, 1);
  
}
